<div class="row">
  <div class="col-12 my-lg-5">
    <form class="mx-4">
      <div class="row">
        <div class="col-12 my-3">
          <button type="submit"
                  class="btn btn-success">Save</button>
          <button type="button"
                  class="btn btn-danger mx-2">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   name=""
                   id="name"
                   class="form-control"
                   placeholder=""
                   aria-describedby="helpId">

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text"
                   name=""
                   id="imagePath"
                   class="form-control"
                   placeholder=""
                   aria-describedby="helpId">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <img src=""
                 class="img-responsive">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text"
                      name=""
                      id="description"
                      class="form-control"
                      aria-describedby="helpId"
                      rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 my-4">
          <div class="row">
            <div class="col-6">
            <label for="ingredient">Ingredient</label>
              <input type="text"
                     class="form-control">
            </div>
            <div class="col-4">
              <label for="count">#</label>
              <input type="number"
                     class="form-control">
            </div>
            <div class="col-2 my-4">
              <button class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
