<div class="row">
  <div class="col-12">
    <img src=""
         alt=""
         class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Recipe name</h1>
  </div>
</div>
<!-- app.component.html -->
<div class="row">
  <div class="col-6">
    <div class="col-12">
      Description
    </div>
    <div class="col-12">
      Ingredients
    </div>
  </div>
  <div class="col-6">
    <div class="btn-group"
         role="group"
         appDropdown
         #r="appDropdown">
      <button type="button"
              class="btn btn-primary dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
        Manage Recipe
        <span class="caret"></span>
      </button>
      <div [ngClass]="{'show': r.isOpen}"
           class="dropdown-menu my-lg-5"
           aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item"
           style="cursor: pointer;"
           appBetterHighlight="var( --custom-primary)">To shopping list</a>
        <a class="dropdown-item"
           style="cursor: pointer;"
           appBetterHighlight="var( --custom-primary)">Edit Recipe</a>
        <a class="dropdown-item"
           style="cursor: pointer;"
           appBetterHighlight="var( --custom-primary)">Delete Recipe</a>
      </div>

    </div>
  </div>
</div>
