<div class="row">
    <div class="col-10">
        <app-shopping-edit (ingredientAdded)="onIngredientAdded($event)"></app-shopping-edit>
        <hr>
        <ul class="list-group ">
            @for(ingredient of ingredients; track ingredient){
            <div class="list-group-item"
                 style="cursor: pointer">
                {{ingredient.name}} ({{ingredient.amount}})
            </div>
            } @empty {
            <a href=""
               class="list-group-item"
               style="cursor: pointer">
                There are no items.
            </a>
            }
        </ul>
    </div>
</div>