<div class="row">
    <div class="col-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group ">
            @for(ingredient of ingredients; track ingredient){
            <a href=""
               class="list-group-item"
               style="cursor: pointer">
               {{ingredient.name}} ({{ingredient.amount}})
            </a>
        } @empty {
            <a href=""
                class="list-group-item"
                style="cursor: pointer">
                There are no items.
            </a>
        }
        </ul>
    </div>
</div>