.read-more {
    color: #007bff; /* Bootstrap primary color */
    cursor: pointer;
  }
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .zoomed-image {
    width: auto;
    height: 200px;
    object-fit:cover;
  }